{% extends 'store/main.html' %}

{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/img.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Product</p>
                <hr>

            </div>
            
            <div class="card-body">
                <button class="btn btn-outline-secondary add-btn">Add to cart</button>
                
                <a href="#" class="btn btn-outline-success ">View</a>
                <h4 style="display: inline-block;float: right">$20</h4>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/img.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Product</p>
                <hr>
            </div>
            
            <div class="card-body">
                <button class="btn btn-outline-secondary add-btn">Add to cart</button>
                
                <a href="#" class="btn btn-outline-success ">View</a>
                <h4 style="display: inline-block;float: right">$20</h4>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/img.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Product</p>
                <hr>
            </div>
            
            <div class="card-body">
                <button class="btn btn-outline-secondary add-btn">Add to cart</button>
                
                <a href="#" class="btn btn-outline-success ">View</a>
                <h4 style="display: inline-block;float: right">$20</h4>
            </div>
        </div>

    </div>

</div>
{% endblock content %}
<!-- <img src="{% static 'images/cart.png' %}"> -->